TODO
.envTemplate
.env
.idea/
spec.pdf
chess_tournament_manager.egg-info/
# Keep data folder but ignore its contents
chess_tournament_manager/data/*
!data/.gitkeep



# Ignore Python cache files
__pycache__/
*/__pycache__/
*.pyc
*.pyo

# Ignore log files
*.log

# Ignore virtual environments
venv/
env/
.venv/
.venv
